div a{
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

div a[target = "_top"]{
    background-color: bisque;
    font-size: 20px;
}

.class1 .class2{
    background-color: palegreen;
}

.class1.class2{
    font-size: 25px;
}